<html>
  <head>
    <title>You made it!!!</title>
  </head>
  <body>
    <h1>Brawo {{ name }}!</h1>
    <p>Uzywajac Ansible'a zainstalowales silnik nginx i wrzuciles swoja strone na serwer! :)</p>
  </body>
</html>
